<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Future of Fanfiction</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="ui container">
      <header class="header">
        <div class="ui menu">
          <a class="item" href="/">Home</a>
          <a class="item" href="/users">Authors</a>
          <div class="right menu">
            <%= render "sign_in_sign_out.html", conn: @conn %>
          </div>
        </div>
      </header>

      <%= if get_flash(@conn, :info) do %>
        <p class="ui info message"><%= get_flash(@conn, :info) %></p>
      <%= end %>

      <%= if get_flash(@conn, :error) do %>
        <p class="ui error message"><%= get_flash(@conn, :error) %></p>
      <%= end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
