<%= if logged_in?(@conn) do %>
  <%= link "My Profile", to: user_path(@conn, :show, current_user(@conn)), class: "item" %>
  <%= link "Edit Profile", to: user_path(@conn, :edit, current_user(@conn)), class: "item" %>
  <%= link "Logout", to: session_path(@conn, :delete, :access), method: :delete, class: "item" %><br>
<% else %>
  <%= link "Register", to: user_path(@conn, :new), class: "item" %>
  <%= link "Login", to: session_path(@conn, :new), class: "item" %>
<% end %>
