<h1>Welcome to Fanfic.Co</h1>

<p>Greetings. You're looking at a site that may one day, motivation permitting, rival fanfiction.net and archiveofourown.org</p>

<p>Or it may just end up an obscure repository for Worm oneshots.</p>

<p>Right now though, it's mostly just placeholder data as I prototype things out.</p>

<p>My plan is to squeeze every last drop of performance out of the vast array of technologies available to me. It's gonna be awesome. Or at least very responsive.</p>
