<h1>Authors</h1>
<ul class="list-group">
  <%= for user <- @users do %>
    <li class="list-group-item"><%= link user.username, to: user_path(@conn, :show, user) %></li>
  <% end %>
</ul>

<%= pagination_links @page %>
