<h1>Register Account</h1>
<%= form_for @changeset, user_path(@conn, :create), [class: "ui form"], fn f -> %>
  <div class="form-group">
    <%= text_input f, :email, placeholder: "Email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
  </div>
  <%= submit "Register User", class: "btn btn-block btn-primary" %>
<% end %>
