<h1>New user</h1>
<%= form_for @changeset, user_path(@conn, :create), [class: "ui form"], fn f -> %>
  <div class="field">
    <%= text_input f, :email, placeholder: "Email" %>
  </div>
  <div class="field">
    <%= password_input f, :password, placeholder: "Password" %>
  </div>
  <%= submit "Register User", class: "ui primary button fluid" %>
<% end %>
