<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fanfic for Tinkerers</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <%= render "minimal_navbar.html" %>
    <div class="container">
      <main role="main">
        <h1>500 Internal Server Error</h1>
        <p>This isn't your fault! This is beta software, terrible things are bound to happen.</p>
      </main>
    </div>
    <%= render "footer.html" %>
  </body>
</html>
