<div class="ui segment">
  <h2 class="ui header">
    <%= @story.title %>
    <div class="sub header">
      By: <%= @story.author.email %>
    </div>
  </h2>
  <p><%= @story.summary %></p>
</div>

<%= render "chapter_navigation.html", story: @story, chapter: @chapter %>

<div class="ui container text">
  <%= raw @chapter.body %>
</div>

<%= render "chapter_navigation.html", story: @story, chapter: @chapter %>
