<br />
<% chapter = guarenteed_chapter(@chapter) %>

<%= render "story_box.html", conn: @conn, story: @story, author: @story.author, buttons: false %>

<%= render "chapter_navigation.html", story: @story, chapter: chapter %>

<div class="container text">
  <%= raw chapter.body %>
</div>

<%= render "chapter_navigation.html", story: @story, chapter: chapter %>
