<h2>Edit Story</h2>

<%= render "form.html", changeset: @changeset, story: @story,
                        action: chapter_path(@conn, :update, @chapter) %>

<span><%= link "Back", to: story_change_path(@conn, :edit, @story) %></span>
