<h2>New Chapter</h2>

<%= render "form.html", changeset: @changeset,
                        action: story_change_chapter_path(@conn, :create, @story) %>

<span><%= link "Back", to: story_path(@conn, :index) %></span>
